<h2>Registration Page</h2>

    <% if @user.errors.any? %>
        <ul> 
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>    
        </ul>
    <% end %>

<%= render 'form' %>

<%= link_to "Sign In", "/signin" %>
